div#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2%;
  }
  div#app h1 {
    margin-top: 25%;
    margin-bottom: 25%;
  }
  div#app .search-wrapper {
    position: relative;
  }
  div#app .wrapper {
    display: flex;
    width: 444px;
    flex-wrap: wrap;
    padding-top: 12px;
  }
  div#app .card {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    width: 124px;
    margin: 12px;
    transition: 0.15s all ease-in-out;
  }
  div#app .card:hover {
    transform: scale(1.1);
  }
  div#app .card a {
    text-decoration: none;
    padding: 12px;
    color: #03A9F4;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div#app .card a img {
    height: 100px;
  }
  div#app .card a small {
    font-size: 10px;
    padding: 4px;
  }
  div#app .hotpink {
    background: hotpink;
  }
  div#app .green {
    background: green;
  }
  div#app .box {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }