section.slider {
	width: 40em;
	height: 25em;
	margin: 0 auto;
	position: relative;
}
  
li.slider {
	width: 500px;
	height: 281px;
	background: rgb(14, 12, 12);
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden;
}
  
li.slider p.slider {
	color: white;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	margin-top: 1.175em;
}
  
.items.slider {
	position: absolute;
}
  
.main-pos.slider {
	margin-left: 2em !important;
	z-index: 3000;
	/*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}
  
.left-pos.slider {
	opacity: .3;
	margin-left: -17em !important;
	z-index: 1000;
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	transform: scale(.75);
}
  
.back-pos.slider {
	margin-left: 2em !important;
	opacity: .05;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	transform: scale(.5);
}
  
.right-pos.slider {
	opacity: .3;
	margin-left:  21em !important;
	z-index: 1000;
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	transform: scale(.75);
}
  
span.slider {
	position: relative;
	margin: 0 auto;
	left: 17em;
	top: 20em;
}

@media (max-width: 800px) {
}